@page
@model IndexModel
@{
    ViewData["Title"] = "Razones de Paro";
}

@if (Model.DowntimePeriodsPerDevice.Any())
{
    <form method="post">
        <div class="card">
            <div class="card-body">
                <label>Establecer esta razón para todas las filas seleccionadas abajo</label>
                <br />
                <select name="ddlReasonToSetMassively">
                    <option value="">Por favor seleccione una razón para establecer en forma masiva</option>
                    @foreach (var validReason in Model.ValidReasons)
                    {
                    <option value=@validReason.ReasonCode>@validReason.ReasonCode - @validReason.ReasonText</option>
                    }
                </select>
                <br /><br />
                <input class="btn btn-secondary btn-lg" type="submit" value="Establecer en forma masiva" asp-page-handler="SaveReasonsMassively" title="Establecer esta razón para todas las filas seleccionadas abajo" />
            </div>
        </div>

        <input name="numberOfDowntimePeriods" type="hidden" value=@Model.DowntimePeriodsPerDevice.Count() />
        <table class="table table-striped" data-toggle="table" data-search="true" data-search-highlight="true">
            <thead>
                <tr>
                    <th data-sortable="true">Dispositivo</th>
                    <th data-sortable="true">Paro desde</th>
                    <th>Más reciente Paro</th>
                    <th>Razón de Paro</th>
                    <th style="width: 10px"/>
                </tr>
            </thead>
            <tbody>
            @foreach (var period in Model.DowntimePeriodsPerDevice)
            {
                <tr>
                    <td>@period.DeviceId</td>
                    <td>@period.InitiallyStoppedAt</td>
                    <td>@period.LastStopReportedAt</td>
                    <td>
                        <select name=@period.ReasonDropDownFieldName>
                            <option value="">Por favor seleccione una razón</option>
                            @foreach (var validReason in Model.ValidReasons)
                            {
                            <option value=@validReason.ReasonCode>@validReason.ReasonCode - @validReason.ReasonText</option>
                            }
                        </select>
                    </td>
                        <td><input class="form-check-input" type="checkbox" name=@period.ReasonCheckBoxFieldName /></td>
                </tr>
            }
            </tbody>
        </table>
        <br />
        <input class="btn btn-primary btn-lg" type="submit" value="Almacenar estas razones" asp-page-handler="SaveReasonsIndividually" />
    </form>
}
else
{
<div class="alert alert-success" role="alert">No hay razones pendientes a establecer para los Paros</div>
}
